
/* Your CSS Code here. */
.container{
	display:flex;
/* 	gap:3px; */
	flex-wrap:wrap;
	flex-direction:row-reverse;
	column-gap:3px
}
.item{
	width:100px;
	background:green;
	height:100px;
    font-size:30px;
}