
/* Your CSS Code here. */
.holder{
	display:flex;
/* 	gap:3px; */
	flex-wrap:wrap;
	flex-direction:row-reverse;
	column-gap:3px;
	justify-content:space-between;
}
.item{
	width:100px;
	background:green;
	height:100px;
    font-size:30px;
}
.item-1{
	background:red;
}
.item-2{
	background:blue;
}
.item-3{
	background:green;
}